<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Add user</title>
</head>
<body>
<a href="/library">all users</a>
<br>
<form th:method="post" th:action="@{/auth/registration}" th:object="${user}">
  <label for="username">Enter name: </label>
  <input type="text" th:field="*{username}" id="username">
  <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</div>
  <br/>
  <label for="password">Enter password: </label>
  <input type="password" th:field="*{password}" id="password">
  <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</div>
  <br/>
  <input type="submit" value="Save"/>
</form>
</body>
</html>